/* @media (max-width: 320px)*/

@media (max-width: 320px) {
    body {
        min-width: None (auto);
    }

    .header {
        height: 65vh;
    }
    .header__top {
        padding: 25px 0 115px;
    }
    .logo__icon {
        width: 190px;
        height: 70px;
    }
    .navigation__btn {
        display: none;
    }
    .header__logo {
        position: absolute;
        top: 53%;
        left: 17%;
    }
    .header__btn {
        width: 235px;
        height: 70px;
        font-size: 22px;
    }
    .navigation__btn {
        display: block;
    }

    .smoothies {
        padding: 36px 0;
        text-align: center;
    }
    .smoothies__text {
        margin-top: 15px;
    }
    .smoothies__item {
        width: 149px;
        height: 137px;
        margin-top: 35px;
        position: relative;
        top: -50px;
    }
    .smoothies__text-img {
        font-size: 30px;
        margin-top: 0;
        position: absolute;
        top: 107px;
    }

    .about {
        padding: 0;
    }
    .about__title {
        margin-top: 15px;
    }
    .about__menu::before {
        width: 270px;
        height: 15px;
        right: 25px;
    }
    .about__img {
        display: none;
    }
    .about__menu {
        max-width: 300px;
    }
    .about__list {
        padding: 35px 0 19px 25px;
    }
    .about__btn {
        width: 285px;
        height: 72px;
        border-radius: 40px;
        padding: 20px 30px;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .products__item {
        padding: 13px 0px 15px;
    }
    .products__title {
        padding: 15px 0;
    }
    .products__capacity {
        margin-bottom: 20px;
    }
    .products {
        overflow: auto;
    }
    .btn__products {
        border-radius: 80px;
        padding: 40px 30px;
        min-width: 255px;
    }

    .story {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: baseline;
    }
    .story__title {
        font-size: 50px;
    }
    .story__text {
        max-width: 300px;
        line-height: 2;
        padding: 10px 0px;
    }
    .story__btn {
        width: 300px;
        height: 90px;
        border-radius: 50px;
        font-size: 30px;
        margin-bottom: 15px;
    }
    .story__img {
        max-width: 300px;
        margin-bottom: 15px;
    }
    .story__right-block::after {
        display: none;
    }

    .testimonials::before {
        display: none;
    }
    .testimonials__title {
        margin-top: 10px;
        font-size: 50px;
    }
    .testimonials {
        align-items: center;
    }
    .testimonials__contener {
        padding: 163px 0 50px;
        min-width: 310px;
        margin: 30px;
    }
    .testimonials__contener::before {
        right: 50px;
        top: 20px;
    }
    .testimonials__text::before {
        display: none;
    }
    .text__cite::after {
        bottom: 0;
    }
    .testimonials__contener::after {
        bottom: 0;
    }
    .testimonials__text {
        min-width: 310px;
        top: 100px;
    }
    .text__cite {
        margin-top: 110px;
        margin-left: 45px;
    }
    .testimonials__contener::after {
        left: 200px;
    }
    .text__cite::after {
        right: 200px;
    }

    .blog {
        min-width: 310px;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 20px;
    }
    .blog__titl {
        margin-bottom: 10px;
        font-size: 50px;
    }
    .blog__img-line {
        margin-top: 10px;
        width: 100%;
    }
    .blog__small-title {
        padding: 10px 0;
    }
    .blog__date {
        padding: 10px 0 10px 30px;
    }
    .blog__text {
        width: 290px;
        line-height: 2;
        margin-left: 15px;
    }
    .blog__img {
        width: 100%;
    }
    .text--bold {
        font-size: 25px;
    }
    .blog__img-arrow {
        width: 35px;
        height: 25px;
    }

    .instagram__link {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .instagram__link-img {
        min-width: 45px;
        margin-right: 5px;
    }
    .instagram___photo-block {
        overflow: auto;
    }
    .instagram___photo {
        min-width: 255px;
        min-height: 255px;
    }

    .footer__top {
        align-items: unset;
        padding: 0;
        flex-direction: column;
    }
    .footer__logo {
        margin: 0;
        text-align: center;
        margin: 15px 0;
    }
    .footer__information {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer__title {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .information__list-link {
        font-size: 30px;
    }
    .footer__payment {
        margin-right: 0px;
    }
    .footer__payment-contener {
        padding-bottom: 25px;
    }
    .footer__payment-img {
        padding: 0 10px 10px 0;
        min-width: 97px;
    }
    .footer__email {
        padding: 10px 0 10px;
    }
    .footer__email::before {
        top: 38px;
        left: 10px;
    }
    .footer__input {
        min-width: 290px;
        min-height:80px;
        padding-left: 40px;
    }
    .footer__connection {
        flex-direction: column;
    }
    .connection__text {
        margin-right: -60px;
        font-size: 20px;
    }
    .footer__email::after {
        right: 195px;
    }
    .connection__list {
        width: auto;
    }
    .connection__list-icon {
        padding: 10px 20px;
        min-width: 40px;
        min-height: 65px;
    }

    .footer__bottom {
        padding: 85px 0 30px;
    }
    .bottom__contener {
        flex-direction: column-reverse; 
        width: auto;
    }
    .bottom__text {
        display: none;
    }
    .bottom__copyright {
        font-size: 22px;
    }
    .bottom__btn {
        width: 70px;
        height: 65px;
        bottom: 50px;
        right: 25px;
        z-index: 300;
    }
}