/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular;
    src: url(../assets/fonts/Muli-Regular.woff);
}

@font-face {
    font-family: MuliBold;
    src: url(../assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: MuliExtraBoldItalic;
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff);
}

@font-face {
    font-family: MuliExtraBold;
    src: url(../assets/fonts/muli_extrabold.woff);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../assets/fonts/Poppins-Medium.woff);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.woff);
}
@font-face {
    font-family: MuliBlack;
    src: url(../assets/fonts/Muli-Black.ttf);
}

/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.text {
    font-size: 18px;
    font-family: MuliRegular;
    color: #1e1e1e;  
}

.title {
    font-size: 50px;
    font-family: MuliExtraBold;
}

.btn {
    font-family: MuliExtraBold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}


/* Header */
.header {
    height: 100vh;
    background-image: url('/CSS/Smoothie\ Webpage-assets/header-bg-img.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    border: 1px solid red;
}

.header__top {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 78px 100px 105px;

}

.header__block-left {
    border: 1px solid red;
    margin-right: 206px;
    display: flex;
    align-items: center;
}

.menu__list {
    list-style: none;
    display: flex;
    align-items: center;

}

.menu__list-item {
    margin-right: 35px;
}

.menu__link {
    font-size: 16px;
    font-family: MuliBold;
    color: white;

}

.header__logo {
    border: 1px solid red;
    margin-right: 322px;
}

.header__block-right {
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.header__personal {
    border: 1px solid red;
    margin-right: 110px;
}

.personal__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.personal__list-item {
    margin-left: 40px;
}

.header__social {
    border: 1px solid red;
    display: flex;
}

.social__list {
    list-style: none;
    display: flex;
    align-items: center; 
}

.social__list-item {
    margin-right: 11px
}

.social__link {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.header__content {
    display: flex;
    justify-content: center;
    margin-bottom: 765px;
}

.btn--green-bg {
    background-color: #0aa566;
}

.header__btn {
    width: 270px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
    color: #ffffff;
    padding: 0 40px;
}

/* Smoothies */
.smoothies {
    background-color: #ffffff;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 470px 162px;
}

.title--orange {
    color: #f7ae3b;
    
}
    
.smoothies__text {
    border: 1px solid red;
    width: 915px; 
    line-height: 2;
    margin-top: 50px;
    text-align: center;
}

.smoothies__items-box {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 952px;
}

.smoothies__item {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 237px;
    height: 125px;
    margin-top: 70px;

}

.smoothies__text-img {
    font-size: 25px;
    font-family: MuliExtraBold;
    color: #f2612d;
    margin-top: 27px;
    
}

/* About */
.about {
    border: 1px solid red;
    background-color: #148370;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 105px 360px 0 110px;
}

.about__img {
    border: 1px solid red;
}

.text__about {
    border: 1px solid red;
    font-size: 55px;
    font-family: MuliRegular;
    color: #ffffff;
    width: 590px;
    }

.text--green {
   color: #cae941;
}

.text--bold{
    font-family: MuliBlack;
}

.about__list-item {
    font-size: 21px;
    font-family: MuliRegular;
    color: #ffffff;
    line-height: 30px;
}

.about__menu {
    border: 1px solid red;
    margin-bottom: 95px;
}

.about__list{
    padding: 70px 0 55px;
    list-style-image: url('/CSS/Smoothie\ Webpage-assets/1.png');
}

.about__btn {
    width: 380px;
    height: 60px;
    border-radius: 30px;
    font-size: 21px;
    color: #ffffff;
    padding: 20px 30px;
    background-color: #12866d;
    border: 3px solid #f8b231;
}
/* Products */

.products {
    border: 1px solid red;
    display: flex;
}
.products__item {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
    padding: 125px 0 75px;
}

.products__title {
    border: 1px solid red;
    font-family: MuliBlack;
    color: #ffffff;
    font-size: 21px;
    padding: 35px 0 15px;
}

.products__capacity {
    border: 1px solid red;
    font-family: MuliRegular;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 65px;
}

.btn__products {
    border-radius: 30px;
    width: 205px;
    height: 55px;
    background: transparent;
    border: 3px solid white;
    padding: 20px 30px;
    color: white;
}

.products__item--chocolate {
    background-color: #662b19;
}
.products__item--vegan {
    background-color: #1b8771;
}
.products__item--lemon {
    background-color: #f3b23c;
}
.products__item--turmeric {
    background-color: #c2491f;
}

/* Story */

.story {
    border: 1px solid red;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 310px 160px 305px;

}

.story__product {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-right: 205px;

}
.story__title {
    border: 1px solid red;
    color: #f7ae3b;
}

.story__text {
    width: 490px;
    line-height: 2;
    border: 1px solid red;
    padding: 60px 0;
}
.story__btn {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    font-size: 21px;
    color: #ffffff;
    padding: 20px 30px;
    background-color: #12866d;
    border: 3px solid #f8b231;   
}

/* Testimonials */
.testimonials {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6c321d;
}

.testimonials__title {
    border: 1px solid red;
    color: #f7ae3b;
    margin-top: 130px;
}

.text--orange-bold {
    color: #f2612d;
}

.testimonials__contener {
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 130px 0 210px;
}

.testimonials__contener-text {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
}

.testimonials__text {
    border: 1px solid red;
    width: 475px;
    text-align: center;
}

.text__cite {
    margin-top: 30px;
    border: 1px solid red;
    color: #f7ae3b;
}

.testimonials__img {
    border: 1px solid red;
}


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */