/* Здесь подключаем шрифты, используя правило @font-face*/

@font-face {
    font-family: MuliRegular;
    src: url(../assets/fonts/Muli-Regular.woff);
}

@font-face {
    font-family: MuliBold;
    src: url(../assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: MuliExtraBoldItalic;
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff);
}

@font-face {
    font-family: MuliExtraBold;
    src: url(../assets/fonts/muli_extrabold.woff);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../assets/fonts/Poppins-Medium.woff);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.woff);
}

@font-face {
    font-family: MuliBlack;
    src: url(../assets/fonts/Muli-Black.ttf);
}

/* Общие стили */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

a {
    text-decoration: none;
}

.text {
    font-size: 1.8rem;
    font-family: MuliRegular;
    color: #1e1e1e;
}

.title {
    font-size: 5rem;
    font-family: MuliExtraBold;
}

.btn {
    font-family: MuliExtraBold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.1rem;
}


/* Header */
.header {
    height: 100vh;
    background-image: url('/CSS/image/header-bg-img.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    /* border: 1px solid red; */
}
.header__top {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 7.8rem 0 10.5rem;
}
.navigation {
    /* border: 1px solid red; */
    min-width: 172rem;
    display: flex;
    justify-content: space-between;
}
.navigation__btn {
    background-color: transparent;
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border-style: none;
}
.header__block-left {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.menu__list {
    list-style: none;
    display: flex;
    align-items: center;
}
.menu__list-item {
    margin-right: 3.5rem;
}
.menu__list-item:last-child {
    margin-right: 0;
}
.menu__link {
    font-size: 1.6rem;
    font-family: MuliBold;
    color: white;
}
.header__logo {
    /* border: 1px solid red; */
    position: absolute;
    left: 0;
    top: 30%;
    left: 43%;
}
.header__block-right {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.header__personal {
    /* border: 1px solid red; */
    margin-right: 11rem;
}
.personal__list {
    list-style: none;
    display: flex;
    align-items: center;
    width: 18.5rem;
    justify-content: space-between;
    position: relative;
}
.personal__cart-count {
    width: 1.8rem;
    height: 1.8rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
}
.header__social {
    /* border: 1px solid red; */
    display: flex;
}
.social__list::before {
    content: '';
    background-image: url('/CSS/image/LineHeader.png');
    width: 4.7rem;
    height: 2px;
    position: absolute;
    left: -7.5rem;
}
.social__list {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}
.social__list-item {
    margin-right: 1.1rem;
}
.social__link {
    background-color: #ffffff;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.header__content {
    display: flex;
    justify-content: center;
}
.btn--green-bg {
    background-color: #0aa566;
}
.header__btn {
    width: 27rem;
    height: 7rem;
    border-radius: 3.5rem;
    font-size: 2.4rem;
    color: #ffffff;
    padding: 0 4rem;
}

/* Smoothies */
.smoothies {
    background-color: #ffffff;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10.5rem 0 16.2rem;
    max-width: 192rem;
}
.title--orange {
    color: #f7ae3b;
}
.smoothies__text {
    /* border: 1px solid red; */
    max-width: 91.5rem;
    line-height: 2;
    margin-top: 5rem;
    text-align: center;
}
.smoothies__items-box {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    max-width: 95.2rem;
}
.smoothies__item {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23.7rem;
    height: 12.5rem;
    margin-top: 7rem;
}
.smoothies__text-img {
    font-size: 2.5rem;
    font-family: MuliExtraBold;
    color: #f2612d;
    margin-top: 2.7rem;
}

/* About */
.about {
    /* border: 1px solid red; */
    background-color: #148370;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    position: relative;
    padding: 8.5rem 35.5rem 9rem 0
}
.about__img {
    /* border: 1px solid red; */
    position: absolute;
    left: 14.9rem;
    top: 6rem;
}
.about__menu {
    /* border: 1px solid red; */
    position: relative;
    max-width: 59rem;
}
.about__menu::before {
    display: block;
    content: '';
    background-image: url('/CSS/image/AboutLine.png');
    width: 45rem;
    height: 1.3rem;
    position: absolute;
    right: 4rem;
    top: 15rem;
}
.about__title {
    /* border: 1px solid red; */
    font-family: MuliRegular;
    color: #ffffff;
}
.text--green {
    color: #cae941;
}
.text--bold {
    font-family: MuliBlack;
}
.about__list-item {
    font-size: 2.1rem;
    font-family: MuliRegular;
    color: #ffffff;
    line-height: 2;
}
.about__list {
    padding: 7rem 0 5.5rem 3rem;
    list-style-image: url('/CSS/image/1.png');
}
.about__btn {
    width: 38rem;
    height: 6rem;
    border-radius: 3rem;
    color: #ffffff;
    padding: 2rem 3rem;
    background-color: #12866d;
    border: 3px solid #f8b231;
}

/* Products */

.products {
    /* border: 1px solid red; */
    display: flex;
}
.products__item {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
    padding: 12.5rem 0 7.5rem;
}
.products__title {
    /* border: 1px solid red; */
    font-family: MuliBlack;
    color: #ffffff;
    font-size: 2.1rem;
    padding: 3.5rem 0 1.5rem;
}
.products__capacity {
    /* border: 1px solid red; */
    font-family: MuliRegular;
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 6.5rem;
}
.btn__products {
    border-radius: 3rem;
    width: 20.5rem;
    height: 5.5rem;
    background: transparent;
    border: 3px solid white;
    padding: 2rem 3rem;
    color: white;
    font-size: calc(30px + (21 - 30)*((100vw - 320px) / (1920 - 320)));
}
.products__item--chocolate {
    background-color: #662b19;
}
.products__item--vegan {
    background-color: #1b8771;
}
.products__item--lemon {
    background-color: #f3b23c;
}
.products__item--turmeric {
    background-color: #c2491f;
}

/* Story */

.story {
    /* border: 1px solid red; */
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 0 16rem;
}
.story__right-block {
    position: relative;
}
.story__right-block::after {
    position: absolute;
    height: 21.6rem;
    width: 29rem;
    content: '';
    background-image: url(/CSS/image/Stamp.png);
    top: 0;
    left: -17rem;
}
.story__left-block {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-right: 20.5rem;
}
.story__title {
    /* border: 1px solid red; */
    color: #f7ae3b;
}
.story__text {
    width: 49rem;
    line-height: 2;
    /* border: 1px solid red; */
    padding: 6rem 0;
}
.story__btn {
    width: 30rem;
    height: 6rem;
    border-radius: 3rem;
    font-size: 2.1rem;
    color: #ffffff;
    padding: 2rem 3rem;
    background-color: #12866d;
    border: 3px solid #f8b231;
}

/* Testimonials */
.testimonials {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6c321d;
    position: relative;
}
.testimonials::before {
    content: '';
    background-image: url('/CSS/image/Dots.png');
    width: 41rem;
    height: 30.1rem;
    position: absolute;
    right: 6rem;
    top: -8rem;
}
.testimonials__title {
    /* border: 1px solid red; */
    color: #f7ae3b;
    margin-top: 13rem;
}
.text--orange-bold {
    color: #f2612d;
}
.testimonials__contener {
    /* border: 1px solid red; */
    padding: 19.5rem 0 23.5rem;
    min-width: 73.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}
.testimonials__contener::before {
    content: '';
    min-width: 22rem;
    min-height: 22rem;
    background-image: url('/CSS/image/testimonials.png');
    position: absolute;
    right: 0;
    top: 12rem;
}
.testimonials__contener::after {
    content: '';
    width: 3rem;
    height: 1.6rem;
    background-image: url('/CSS/image/Arrowleft.png');

    position: absolute;
    bottom: 8rem;
    left: 28.5rem;
}
.testimonials__text {
   /* border: 1px solid red; */
    max-width: 47.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1.944;
    position: relative;
}
.testimonials__text::before {
    content: '';
    display: block;
    background-image: url('/CSS/image/SarahA.png');
    width: 76.5rem;
    height: 15rem;
    top: -10rem;
    left: -16.5rem;
    position: absolute;
    z-index: -1;
}
.text__cite {
    margin-top: 3rem;
    /* border: 1px solid red; */
    color: #f7ae3b;
    margin-left: 13.5rem;
}
.text__cite::after {
    content: '';
        width: 3rem;
        height: 1.6rem;
    background-image: url('/CSS/image/Arrowright.png');
    position: absolute;
    bottom: 8rem;
    right: 28.5rem;
}


/* Blog */
.blog {
    /* border: 1px solid red; */
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10rem 0 20rem;
}
.blog__titl {
    /* border: 1px solid red; */
    color: #f7ae3b;
    margin-bottom: 6rem;
}
.blog__left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blog__right {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blog__img-line {
    /* border: 1px solid red; */
    margin-top: 16.5rem;
}
.blog__small-title {
    /* border: 1px solid red; */
    font-family: MuliExtraBold;
    font-size: 3rem;
    color: #f2612d;
    padding: 4.5rem 0 0 6rem;
}
.blog__date {
    /* border: 1px solid red; */
    font-family: MuliRegular;
    font-size: 1.6rem;
    color: #1e1e1e;
    padding: 2rem 0 4.5rem 6rem;
}
.blog__text {
    /* border: 1px solid red; */
    width: 47.5rem;
    line-height: 2;
    margin-left: 12.5rem;
}
.text--bold {
    /* border: 1px solid red; */
}
.blog__img-arrow {
    /* border: 1px solid red; */
    margin-left: 1rem;
}

/* Instagram */
.instagram__link {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MuliExtraBold;
    font-size: 2.4rem;
    color: #0aa566;
    margin-bottom: 5rem;
}
.instagram__link-img {
    margin-right: 1rem;
}
.instagram___photo {
    min-width: 38.1rem;
    min-height: 38.1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
}
.photo__link {
    padding: 2rem 2.5rem;
}
.instagram___photo-block {
    display: flex;
}
.photo--back-1 {
    background-image: url('/CSS/image/photo-1.png');
}
.photo--back-2 {
    background-image: url('/CSS/image/photo-2.png');
}
.photo--back-3 {
    background-image: url('/CSS/image/photo-3.png');
}
.photo--back-4 {
    background-image: url('/CSS/image/photo-4.png');
}
.photo--back-5 {
    background-image: url('/CSS/image/photo-5.png');
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
}
.footer__top {
    /* border: 1px solid red; */
    background: #fba93d;
    display: flex;
    align-items: flex-start;
    padding: 8rem 10.5rem 9rem 10rem;
}
.footer__logo {
    /* border: 1px solid red; */
    margin: 6.5rem 28.5rem 0 0;
}
.footer__information {
    /* border: 1px solid red; */
    margin-right: 15.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__title {
    /* border: 1px solid red; */
    font-size: 2.6rem;
    font-family: MuliExtraBold;
    color: #ffffff;
    margin-bottom: 3.5rem;
}
.information__list {
    list-style: none;
    line-height: 2.5;
    min-width: 17rem;
}
.information__list-item:last-child {
    margin-bottom: -1rem;
}
.information__list-link {
    /* border: 1px solid red; */
    font-size: 1.8rem;
    font-family: MuliBold;
    color: #6d450c;
}
.footer__payment {
    /* border: 1px solid red; */
    margin-right: 16rem;
}
.footer__payment-contener {
    /* border: 1px solid red; */
    min-width: 26.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer__payment-img {
    padding: 0 2rem 2rem 0;
}
.footer__left-block {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.footer__email {
    /* border: 1px solid red; */
    padding: 3rem 0 3rem;
    position: relative;
}
.footer__email::after {
    content: '';
    background-image: url('/CSS/image/Arrowemal.png');
    position: absolute;
    width: 4.8rem;
    height: 4.3rem;
    bottom: -3rem;
    right: 27rem;
}
.footer__email::before {
    content: '';
    background-image: url('/CSS/image/emalIcon.png');
    position: absolute;
    width: 2.4rem;
    height: 1.9rem;
    top: 5rem;
    left: 2.5rem;
}
.footer__input {
    border: none;
    min-width: 49.5rem;
    min-height: 6rem;
    border-radius: 3rem;
    padding-left: 7rem;
}
.footer__input:focus{
    outline: none;
}
.footer__input::placeholder {
    font-family: MuliBold;
    font-size: 1.7rem;
    color: #662b19;
}
.footer__connection {
    /* border: 1px solid rgb(4, 7, 75); */
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.connection__text {
    /* border: 1px solid red; */
    margin-right: 4.5rem;
    color: #6d450c;
    font-family: MuliExtraBold;
}
.connection__list {
    /* border: 1px solid red; */
    width: 11rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer__bottom {
    /* border: 1px solid red; */
    background: #692921;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 6rem;
}
.bottom__contener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96rem;
    /* border: 1px solid red; */
}
.bottom__copyright {
    /* border: 1px solid red; */
    font-size: 1.3rem;
    font-family: MuliRegular;
    color: #af8a82;
}
.bottom__right-block {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.bottom__text {
    font-size: 1.6rem;
    font-family: MuliBold;
    color: #ffffff;
    margin-right: 16.5rem;
}
.bottom__btn {
    width: 5rem;
    height: 5rem;
    background: #f2662f;
    position: fixed;
    bottom: 3.8rem;
    right: 10rem;
}